@charset "UTF-8";
 
        body {
            background-color: rgb(0, 0, 0);
        }
        h1 {
            color: rgb(177, 117, 233);
            font-style: oblique;
        }
        h2 {
            color: rgb(177, 117, 233);
            font-style: oblique;
        }
        p {
            color: blueviolet;
            font-style:unset
        }
        ul {
            color: rgb(120, 75, 161);
            font-style: italic;
        }
    
   